*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}

body{
background:#07111f;
color:white;
overflow:hidden;
}

.app{
display:flex;
position:relative;
z-index:10;
}

.main{
flex:1;
padding:35px;
height:100vh;
overflow:auto;
-webkit-backdrop-filter: blur(14px);
backdrop-filter: blur(14px);
}